/*
NO rtl styles for this component
@media (orientation : landscape) {
  div.ticket-container-rtl{
    float: right;
  }
  div.button-container-rtl{
    float: right;
  }
}*/
.custom-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.reklama {
  margin: 3% 1% 0 1%;
  flex: 1 1 auto;
  overflow-y: auto;
  /* width: 95%; */
  max-width: 400px;
  /* display: flex;
  
  max-height: 300px;
  max-width: 200px; */
}

:host ::ng-deep .carousel-arrows {
  display: none;
}
