/*
NO rtl styles for this component
@media (orientation : landscape) {
  div.ticket-container-rtl{
    float: right;
  }
  div.button-container-rtl{
    float: right;
  }
}*/
.custom-box {
  display: flex;
  flex-flow: column;
  height: (100vh - 10em);
}
/* .inner-margin-separator {
  height: 80vh;
  flex-grow: 0;
} */
.row {
  flex: 0 1 auto;
}
.custom-row {
  /* display: flex;
  flex-flow: column;
  flex: 1 1 auto; */
  overflow-y: auto;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.reklama {
  margin-top: 1%;
  max-width: calc((9 * 40px) + 50px + (2px * 10) + 1px);
  /* width: auto; */
  width: calc((9 * 8.5vw) + 12vw + (2px * 10));
  /* height: auto; */
  /* flex: 1 0 0; */
  /* overflow-y: auto; */
  /* width: 95%; */
  /* max-width: 430px; */
  /* display: flex;
  
  max-height: 300px;
  max-width: 200px; */
  /* height: 100px; */
}

.custom-carousel {
  width: auto;
}

:host ::ng-deep .carousel-arrows {
  display: none;
}
:host ::ng-deep img {
  object-fit: fill !important;
}
:host ::ng-deep .carousel-cell {
  text-align: center;
}

/* Small phones */
@media (max-width: 400px) {
  .reklama {
    margin-top: 1%;
    max-width: calc((9 * 35px) + 45px + (2px * 10) + 1px);
    /* width: calc((9 * 8.5vw) + 12vw + (2px * 10));
     */
    /* min-width: 65%; */
    /* width: 125px; */
  }

  .custom-carousel {
    height: 125px;
    width: auto;
  }
}
